<nav class="navbar card">
    <div class="nav-group">
        <button class="nav-btn is-active"
            hx-get="/pages/home.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Home
        </button>
        
        <button class="nav-btn"
            hx-get="/pages/about.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            About
        </button>
       
        <button class="nav-btn"
            hx-get="/pages/project2.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Projects
        </button>

        <button class="nav-btn"
            hx-get="/pages/cv.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Curriculum Vitae
        </button>

        <button class="nav-btn"
            hx-get="/pages/contact.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Contact
        </button>
    </div>
</nav>